.app-footer {
    background-color: var(--header-background);
    border-block-start: 1px solid var(--silver);
    width: 100%;
    text-align: center;
    height: 80px;
    
    
    /* align-self: end; */
    /* position: fixed; */
    /* bottom: 0px; */
}

.app-footer p {
    margin-block-start: calc(40px - 1rem);
}


