.app-header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--header-background);
  color: var(--licorice);
  padding: 1em;
  width: 100%;
  height: 15vh;
}
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element technique used for changing svg color, includes tool to generate filter*/
.app-header img{
  max-width:550px;
  filter: invert(5%) sepia(64%) saturate(1844%) hue-rotate(331deg) brightness(90%) contrast(106%);
}
.app-header i{
  display: none;
}
.app-header a{
  font-size: 2rem;
  font-weight: bold;
  transition: 200ms;
}
.app-header a:hover{
  color:var(--darkgreen);
  text-decoration: underline;
}
.app-header nav{
  display: flex;
  padding-inline-end: 1rem;
}
