.label-editor {
    padding: 1.4em;
    margin-inline-start: 10px;
}

.label-editor input {
    border-style: none;
    margin-inline: .5em;
    margin-block-end: 1em;
}

.label-editor li {
    display: flex;
    opacity: 0.9;
}

.label-editor li span:first-of-type {
    margin-inline-end: .3em;
    translate: 0 1px;
    cursor: pointer;
}

.label-editor li span:first-of-type:hover {
    background-color: var(--clrHover);
}

.label-editor .input-line span {
    cursor: pointer;
}