.note-index{
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-areas: 
    "filter filter"
    "sidebar add"
    "sidebar notes"
    ;

    font-size: 14px;
    color: rgb(32, 33, 36);
    background-color: white;
}

.note-index .notes-columns{
   
    columns: 1;
    place-items: center;
    column-gap: 15px;
    margin-inline: 17px;
    grid-area: notes;
    
}

.note-index h2{
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: rgb(32, 33, 36);
    letter-spacing: 0.1px;
}

.note-index .add-cmps{
   /* margin-block-end: 20px; */
}

