.note-list{
    grid-area: main;
    display: grid;

    /* justify-content: center; */
}

.note-index .note-list .notes-columns{
   
    columns: 1;
    place-items: center;
    /* margin-block-start: var(--noteGap); */
    /* margin-inline: var(--noteGap); */
    margin: var(--noteGap);
    
}

.note-list .note-container{
    /* align-self: self-start; */
}

.note-index .note-list .note-container .pin-title span{
    font-family: roboto;
    font-size: 0.6875em;
    text-transform: uppercase;
    margin-block-end: var(--noteGap);
    margin-inline-start: var(--noteGap);
}

.note-index .note-list h2{
    font-size: 1.142857em;
    font-family: roboto, sans-serif;
    color: rgb(32, 33, 36);
    letter-spacing: 0.1px;
}

.note-index .note-list .add-cmps{
    margin-block-end: 50px;
}

