.book-filter {
    /* padding: 10px;
    background-color: var(--gray1);
    margin-block-start: 10px; */
    width: 100%;
    /* display: flex; */
    justify-content: center;
    padding-block: 1rem;
    margin-block-end:1.8em ;
}



.book-filter input {
    max-height: 34px;
    border-radius: 99999px;
    min-width: 26vw;
    padding-inline-start: 2.2rem;
    margin-inline-end: 1em;
}


/* .note-filter button {
    border: none;
    background-color: transparent;
    position: absolute;
    font-size: 1.2rem;
    height: 48px;
    width: 48px;
} */

/* .note-filter div {
    opacity: .5;
    transition: 300ms;
}

.note-filter div:hover {
    opacity: 1;
}

.note-filter div:focus-within {
    opacity: 1;
} */