.book-filter {
    width: 100%;
    justify-content: center;
    padding-block: 1rem;
    margin-block-end:1.8em ;
}

.book-filter input {
    max-height: 34px;
    border-radius: 99999px;
    min-width: 26vw;
    padding-inline-start: 2.2rem;
    margin-inline-end: 1em;
}
