.email-index {
    display: grid;
    background-color: var(--silver);
    grid-template-areas:
        "compose   filter"
        "folder-list list  "
        "folder-list list  ";
    grid-template-columns: fit-content(20%) 1fr;
}

.email-index h1,h2,h3,h4,h5,h6,h7 {
    font-family: roboto, sans-serif ;
}