.email-compose {
    /* grid-area: compose; */
    position: fixed;
    left: 500px;
    bottom: 0px;
    background-color: var(--gmail-li);
    z-index: 10;
}
.email-compose textarea{
    resize: none;
}
.email-compose form {
    display: flex;
    flex-direction: column;
}

.compose-btn {
    grid-area: compose;
    background-color: var(--clr1);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    border:none;
    border-radius: 2rem;
    font-size: 1.1rem;
    color:var(--clr3);
}
.compose-btn i{
    padding-inline-end: .5rem;
}