.email-preview {
    display: grid;
    grid-auto-columns: 1fr 8fr 1fr;
    background-color: var(--gmail-li);
    padding-inline: 1rem;
    border-block: 1px solid lightgrey;
    font-size: .9rem;
    padding-inline: 0;
    justify-content: space-between;
    overflow: hidden;
    color: var(--licorice);

}

.email-preview:hover {
    box-shadow: 0px 2px 3px 0px var(--licorice);
    z-index: 10;
    position: sticky;
}

.email-preview .star {
    grid-row-start: -1;
}

.email-preview button {
    color: var(--licorice);
}

.email-preview a {
    padding-inline-start: .5rem;
    grid-row-start: -1;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    align-items: center;
    overflow: hidden;
}

.email-preview a span:last-of-type {
    justify-self: end;
}

.email-preview .preview-buttons {
    grid-row-start: -1;
    justify-self: end;
    transition: 200ms;
    background-color: var(--darkgreen);
    border-radius: 999px 0 0 999px;
    opacity: 0;
    translate: 20px;
}

.email-preview:hover .preview-buttons {
    opacity: 1;
    translate: 0;
}

/* .email-preview:hover span:last-of-type{
    opacity: 1;
    translate:0;

} */
.email-preview button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.read {
    background-color: var(--gmail-li);
}

.unread {
    background-color: var(--gmail-li-unread);
    font-weight: 600;
}