.main-layout {
  display: grid;
  /* margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem; */
  min-height: 100vh;
  /* grid-template-rows: 140px auto 140px; */
  background-color: var(--background);
}

.main-layout .main-route{
  /* align-self: start; */

}

