/* MOBILE ONLY */
@media (max-width: 900px) {

    html {
        font-size: 18px;
    }

}

/* SMALL */
@media (min-width: 720px) {
    .note-index .notes-columns{
        /* columns: 2; */
        column-count: auto;
        column-width: 238px;
    }
}

/* MEDIUM */
@media (min-width: 900px) { 

}

/* LARGE  */
@media (min-width: 1050px) {
  
}
