/* MOBILE ONLY */


/* SMALL */


@media (min-width:350px) {

    /* header */
    .app-header img {
        display: none;
        max-width: 100px;
    }
    .app-header{
        padding: 0;
    }
    .app-header i{
        display: inline;
        padding: 1rem;
    }
    .app-header a{
        font-size: 1rem;
    }
    :root {
        font-size: 14px;
    }


    /*email*/
    .email-folder-list span:first-child {
        display: none;
    }

    .email-folder-list li {
        /* width: calc(fit-content + .5rem); */
        width: fit-content;
        padding: 0;
    }

    .email-folder-list {
        max-width: fit-content;
        margin: 0;
    }
    .email-list ul{
        padding:0;
    }
    .compose-btn span{
        display: none;
    }
    .email-preview a{
        display: flex;
        flex-wrap: wrap;
    }
    .email-preview .preview-buttons{
        opacity: 1;
        border-radius: 0;
        translate:1rem;
    }
}

@media (min-width: 720px) {

    /*notes*/
    .note-index .notes-columns {
        /* columns: 2 !important; */
        /* columns: auto; */
        column-count: auto;
        column-width: 238px;
    }

    .note-preview {
        max-width: 400px;
    }
}

@media (min-width: 900px) {

    /* html {
        font-size: 18px;
    } */
    /* header */
    .app-header img {
        max-width: 550px;
    }
}

/* MEDIUM */
@media (min-width: 900px) {}

/* LARGE  */
@media (min-width: 1050px) {}