
/* SMALL */

@media (min-width:350px) {

    /* header */
    .app-header img {
        display: none;
        max-width: 100px;
    }

    .app-header {
        padding: 0;
        height: 6vh;
    }

    .app-header i {
        display: inline;
        padding: 1rem;
    }

    .app-header a {
        font-size: 1rem;
    }

    .app-header .full-logo {
        display: none;
    }

    .app-header .laurel {
        display: inline;
    }

    :root {
        font-size: 14px;
    }


    /*email*/
    .email-folder-list span:first-child {
        display: none;
    }

    .email-folder-list li {
        /* width: calc(fit-content + .5rem); */
        width: fit-content;
        padding: 0;
    }

    .email-folder-list {
        max-width: fit-content;
        margin: 0;
    }

    .email-list ul {
        padding: 0;
    }

    .compose-btn span {
        display: none;
    }

    .email-preview a {
        display: flex;
        flex-wrap: wrap;
    }

    .email-preview .preview-buttons {
        opacity: 1;
        border-radius: 0;
        translate: 0px;
    }

    .email-preview:hover .preview-buttons {
        /* translate:1rem; */
        translate: 0px;

    }

    .email-compose {
        left: 0;
        width: 100vw;
    }
}

@media (min-width: 720px) {
    :root {
        font-size: 18px;
    }

    /* header */
    .app-header img {
        display: flex;
        max-width: 200px;
    }

    .app-header .full-logo {
        display: inline;
    }

    .app-header .laurel {
        display: none;
    }

    .app-header {
        padding: 1em;
        height: 10vh;
    }

    .app-header i {
        display: none;
    }

    .app-header a {
        font-size: 1rem;
    }

    /*notes*/
    .note-index .notes-columns {
        /* columns: 2 !important; */
        /* columns: auto; */
        column-count: auto;
        column-width: 238px;
    }

    .note-preview {
        max-width: 400px;
    }

    /* email */
    .email-folder-list span:first-child {
        display: inline;
    }

    .email-folder-list li {
        /* width: calc(fit-content + .5rem); */
        width: fit-content;
        padding-inline: 1rem;
    }

    .email-folder-list {
        max-width: none;
        margin: 0;
    }

    .email-list ul {
        padding: 1rem;
    }

    .compose-btn span {
        display: inline;
    }

    .email-preview a {
        display: grid;
        flex-wrap: nowrap;
    }

    .email-preview .preview-buttons {
        opacity: 0;
        border-radius: 999px 0 0 999px;
        translate: 20px;
    }

    .email-compose {
        left: 45vw;
        width: fit-content;
    }
}

@media (min-width:1100px) {
    :root {
        font-size: 18px;
    }

    /* html {
        font-size: 18px;
    } */
    /* header */
    .app-header img {
        max-width: 400px;
    }

    .app-header .full-logo {
        display: inline;
    }

    .app-header .laurel {
        display: none;
    }
}

/* MEDIUM */
@media (min-width: 1100px) {}

/* LARGE  */
@media (min-width: 1200px) {
    .app-header img {
        max-width: 600px;
    }
}